#footer {
    display: block !important;
    /* 꼭 필요합니다.안그러면 구조가 깨져요!! */
}
main {
    background-color: var(--black);
    color: var(--white);
}

a {
    display: block;
}
/* desc1 */
.desc1{
    background-image: url(../img/kategorie_mu_detail.png);
    background-size: cover;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 540px;
    margin-bottom: 100px;
    z-index: -10;
}
.poster {
    display: flex;
    flex-direction: column;
}
.like-button {
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: transparent;
    border: 2px solid var(--white);
    border-radius: 20px;
    color: var(--white);
    cursor: pointer;
    font-size: 16px;

}
.desc1 img {
    width: 258px;
    height: 344px;
}
.container {
    display: flex;
    padding: 100px;
    justify-content: space-around
}
.d1t1 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 2.25rem;
}
.d1t2 {
    margin-bottom: 30px;
    font-size: 1.5rem;
    line-height: 1.9;
}
/* star rating */
.rating {
    margin-top: 80px;
    position: relative;
    width: 180px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
    padding: 5px;
    overflow: hidden;
    border-radius: 20px; 
    box-shadow: 0 0 2px var(--white);
 }
 
 .rating__result {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-10px) translateX(2px);
    z-index: 10000;
    font: 3em Arial, Helvetica, sans-serif;
    color: #e6ff004a;
    pointer-events: none;
 }
 
 .rating__star {
    font-size: 1.3em;
    cursor: pointer;
    color: yellow;
    transition: filter linear .3s;
 }
 
 .rating__star:hover {
    filter: drop-shadow(1px 1px 4px gold);
 }



/* desc2 */
.title {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 30px;
    color: var(--white);
    font-size: 2rem;
}
.title span {
    font-size: 1.5rem;
}
.desc2Wrap{
    max-width: 1280px;
    margin: 0 auto;
    border: 3px solid var(--black);
    border-radius: 20px;
    background-color: var(--white);
    color: var(--black);
    padding: 30px;
    text-align: left;
    min-height: 80vh;
}

.d2t1 {
    font-size: 1.5rem;
    border-bottom: 1px solid var(--black);
}
.line1 {
    width: 110px;
   
border-bottom: 3px solid var(--black);
}

.d2t2 {
    font-size: 1.5rem;
    border-bottom: 1px solid var(--black);
    margin-top: 30px;
}

.line2 {
    width: 110px;
    border-bottom: 3px solid var(--black);

}

.imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* 각 열을 좌우로 분산 정렬 */
}

.img {
    margin: 35px 20px;
    width: 150px;
    height: 150px;
}
.imgs:last-child {
    margin-bottom: 100px;
}

.img a {
    display: block; /* 링크를 블록 레벨 요소로 만들어 이미지가 링크 영역을 가득 채울 수 있게 함 */
}
.castingText {
    text-align: center;
    line-height: 1.8;
}
/* info */
.infoimg{
    margin: 20px;
}