.theater__ineer {
    padding: 150px 60px 100px 60px;
    color: var(--black);
}

.theater__ineer h1 {
    font-size: 2.5rem;
    font-family: var(--primary-Hahmlet);
    color: var(--primary-color);
    margin-bottom: 50px;
}

.theater__ineer h1 span {
    font-size: 1.6rem;
    font-family: var(--primary-Oswald);
    font-weight: normal;
}

/* map */
.mapwrap {
    display: flex;
    justify-content: space-around
}

#map {
    width: 90%;
    height: 550px;
    border-radius: 20px;
    margin: 20px;

}

/* theater__info */
.theater__info {
    margin: 0 auto;
    /* background-color: var(--black); */
    /* color: var(--black); */
    position: relative;
}

/* theater__map */
.theater__map img {
    width: 80%;
    height: 85%;
    /* border-top: 2px solid var(--black600);
    border-bottom: 2px solid var(--black600); */
    /* margin: 10px;
    padding: 10px; */
}

.theater__map .pin {
    position: absolute;
    right: 13.5rem;
    top: 15.9rem;
    width: 18px;
    height: 30px;
    background-image: url(../img/pin.svg);
    background-position: -15px -10px;
    display: block;
}

/* theater__link */
.theater__link {
    width: 92%;
    height: 30vh;
    display: flex;
    margin: 0 auto;

}

.theater__link>ul {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--black200);
    background-color: var(--black500);
    padding: 1.1rem;
    box-sizing: border-box;
    justify-content: flex-start;
}

.theater__link>ul li {
    width: 25%;
    height: 14%;
    padding: 10px;
}

.theater__link>ul li a img {
    border-radius: 15px;
}

.theater__link>ul li a:hover img {
    transform: scale(1.1);
    transition: transform 0.4s;
}

.theater__list {
    margin: 1.6rem auto;
}

/* list__cont */
.list__cont {
    width: 92%;
    margin: 0 auto;
    table-layout: fixed;
}

.list__cont tr {
    border-bottom: 1px solid var(--black200);
    width: 100%;
}

.list_cont_header {
    /* display: flex; */

}

.list__cont th {
    padding: 0.8rem;
    /* background-color: var(--black500); */
    font-size: 1.4rem;
    font-weight: bold;
}


.list__cont .rounded-left {
    /* display: block; */
    border: 1px solid var(--black);
    border-radius: 30px 0 0 0;
    width: 100%;
}

.list__cont .rounded-center {
    /* display: block;/ */
    border: 1px solid var(--black);
    width: 70%;
}

.list__cont .rounded-right {
    /* display: block; */
    border: 1px solid var(--black);
    border-radius: 0 10px 0 0;
    width: 100%;
}

.list__cont td {
    margin: 1.3rem auto;
}

.list__cont .img_name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.list__cont .img_name>a:nth-child(1) {
    width: 60%;
}

.list__cont .img_name>a:nth-child(2) {
    width: 39%;
    text-align: center;
}

.list__cont .img_name>a>img {
    width: 95%;
    /* margin-right: 1.2rem; */
    border-radius: 5px;
}

.list__cont .img_name>a>span {
    width: 100%;
    font-size: 0.9rem;
    /* margin-left: 1.2rem; */
}

.theater__location span {
    display: flex;
    justify-content: center;
    align-content: center;
}

.theater__musical ul {
    padding: 1.3rem;
}



/* theater__detail */

.th__detail_info {
    display: flex;
    background-image: url(../img/aaa.jpg);
    background-position: center center;
    background-size: cover;
    margin: 1.2rem 0;
    box-sizing: border-box;
    height: 33.75rem;
}

.th__detail_info .theater_detail {
    max-width: 1260px;
    width: 96%;
    margin: 70px auto 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.theater_detail .logo_img {
    width: 49%;
}

.theater_detail .logo_img img {
    width: 70%;
    border-radius: 25px;
}

.theater__detail__title {
    width: 49%;
    color: var(--black);
}

.theater__detail__title h2 {
    margin-bottom: 70px;
    font-size: 2.4em;
    font-family: var(--mapo);
    font-weight: bold;
    color: var(--white);
}

.theater__detail__title .logo_cont {
    font-size: 1.5rem;
    color: var(--white);
}

.theater__callnumber {
    padding-top: 20px;
}

.theater__detail__title.rating {
    margin-top: 20px;
}

.theater__homepage a {
    padding-top: 40px;
    color: var(--black400);
    display: inline-block;
}

.theater__homepage a:hover {
    color: var(--black500);
    text-decoration: underline;
}

.theater__detail__info {
    padding: 10px auto;
    /* color: var(--black); */
}

.theater__detail__info h1 {
    font-size: 35px;
    padding: 50px 0;
    display: inline-block;
    font-family: var(--hahm);
}

.theater__detail__info h1 span {
    font-size: 1.4rem;
    color: var(--black400);
    padding-left: 10px;
}

.theater__detail__cont {

    padding: 10px;
}

.theater__detail__cont .main_theater_title {
    border-bottom: 1px solid var(--black);
}

.theater__detail__cont .main_theater_title h3 {
    display: inline-block;
    font-size: 24px;
    padding: 10px 20px 10px 10px;
    border-bottom: 2px solid var(--black);
    font-family: var(--hahm);
    color: var(--black200);
}

.theater_transport {
    margin-bottom: 1.2rem;
}

.theater_transport .transport_info {
    black-space: pre-line;
    font-size: 0.9rem;
    padding: 10px;
}

.theater_seat_info {
    margin-bottom: 1.3rem;
}

.theater_seat_info h3 {
    font-size: 24px;
    padding: 10px;
    border-bottom: 2px solid var(--black);
    font-family: var(--hahm);
    color: var(--black200);
}

.theater_seat_info .seat_img {
    margin-top: 20px;
    padding: 10px;
}

/* theater */
@media (max-width: 1210px) {
    .list__cont th {
        padding: 0.8rem;
        /* background-color: var(--black500); */
        font-size: 1rem;
        font-weight: bold;
    }


    .list__cont .rounded-left {
        /* display: block; */
        border: 1px solid var(--black);
        border-radius: 30px 0 0 0;
        width: 100%;
    }

    .list__cont .rounded-center {
        /* display: block;/ */
        border: 1px solid var(--black);
        width: 70%;
    }

    .list__cont .rounded-right {
        /* display: block; */
        border: 1px solid var(--black);
        border-radius: 0 10px 0 0;
        width: 100%;
    }

    .list__cont .img_name>a:nth-child(1) {
        width: 50%;
    }

    .list__cont .img_name>a:nth-child(2) {
        width: 49%;
        text-align: center;
    }

    .list__cont .img_name>a>span {
        font-size: 0.7rem;
    }

    .theater__location span {
        font-size: 0.7rem;
    }

    .theater__musical ul {
        font-size: 0.7rem;
        padding: 1rem;
    }
}

@media (max-width: 1060px) {

    .theater__link>ul {
        padding: 0.5rem;
    }
}