@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 300;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.eot?#iefix') format('embedded-opentype'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.woff2') format('woff2'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.woff') format('woff'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 400;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.eot?#iefix') format('embedded-opentype'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.woff2') format('woff2'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.woff') format('woff'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 700;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.eot?#iefix') format('embedded-opentype'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.woff2') format('woff2'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.woff') format('woff'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 800;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.eot?#iefix') format('embedded-opentype'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.woff2') format('woff2'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.woff') format('woff'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 900;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.eot?#iefix') format('embedded-opentype'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.woff2') format('woff2'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.woff') format('woff'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Oswald';
    font-weight: 200;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Oswald/Oswald-ExtraLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Oswald/Oswald-ExtraLight.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Oswald/Oswald-ExtraLight.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Oswald/Oswald-ExtraLight.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Oswald/Oswald-ExtraLight.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'Oswald';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Oswald/Oswald-Light.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Oswald/Oswald-Light.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Oswald/Oswald-Light.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Oswald/Oswald-Light.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Oswald/Oswald-Light.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'Oswald';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Oswald/Oswald-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Oswald/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Oswald/Oswald-Regular.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Oswald/Oswald-Regular.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Oswald/Oswald-Regular.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'Oswald';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Oswald/Oswald-Medium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Oswald/Oswald-Medium.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Oswald/Oswald-Medium.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Oswald/Oswald-Medium.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Oswald/Oswald-Medium.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'Oswald';
    font-weight: 600;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Oswald/Oswald-SemiBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Oswald/Oswald-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Oswald/Oswald-SemiBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Oswald/Oswald-SemiBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Oswald/Oswald-SemiBold.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'Oswald';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Oswald/Oswald-Bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Oswald/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Oswald/Oswald-Bold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Oswald/Oswald-Bold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Oswald/Oswald-Bold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Hahmlet';
    font-weight: 100;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-Thin.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-Thin.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-Thin.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-Thin.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-Thin.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Hahmlet';
    font-weight: 200;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-ExtraLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-ExtraLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-ExtraLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-ExtraLight.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Hahmlet';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-Light.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-Light.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-Light.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-Light.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-Light.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Hahmlet';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-Regular.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Hahmlet';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-Medium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-Medium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-Medium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-Medium.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Hahmlet';
    font-weight: 600;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-SemiBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-SemiBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-SemiBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-SemiBold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Hahmlet';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-Bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-Bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-Bold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-Bold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Hahmlet';
    font-weight: 800;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-ExtraBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-ExtraBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-ExtraBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-ExtraBold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Hahmlet';
    font-weight: 900;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-Black.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-Black.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-Black.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-Black.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/hahmlet/Hahmlet-Black.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'OleoScript';
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/OleoScript-Bold.woff') format('woff'),
         url('../fonts/OleoScript-Bold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'OleoScript';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/OleoScript-Regular.woff') format('woff'),
         url('../fonts/OleoScript-Regular.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'MapoGoldenPier';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/mapo/MapoGoldenPier.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/mapo/MapoGoldenPier.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/mapo/MapoGoldenPier.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/mapo/MapoGoldenPier.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/mapo/MapoGoldenPier.ttf') format("truetype");
    font-display: swap;
}