.login_inner {
    padding-top: 180px;
    display: block;
    margin: 0 auto;
    color: var(--white);
    background-image: url(../img/login.jpg);
    background-position: 100% 100%;
    background-size: cover;
    height: 80vh;
    font-family: var(--primary-Hahmlet);
}


/* login_inner */
.login_inner {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.login_inner h3 {
    margin-bottom: 40px;
    font-size: 1.9rem;
}
.find__from span {
    margin-bottom: 40px;
    font-size: 0.9rem;
}

.login_inner fieldset {
    margin-top: 1.2rem;
    width: 100%;
    height: 4rem;
}

.login_inner label {
    display: inline-block;
    padding: 10px 0 5px 0;
}

.login_inner input {
    padding: 20px;
    color: var(--white);
    width: 100%;
    height: 5vh;
    border: 1px solid var(--white);
    background: transparent;
    margin: 10px 0;
}

/* login_inner .check */
.login_inner .check {
    margin-top: -1px;
}
.login_inner .check label {
    position: relative;
    padding: 0;
    padding-left: 25px;
    font-size: 0.9rem;
}
.login_inner .check label span {
    color: red;
}
.login_inner .check input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.login_inner .check .indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 18px;
    width: 18px;
    background: #fff;
    border: 1px solid var(--black);
    border-radius: 2px;
}
.login_inner .check .indicator::after {
    content: '';
    position: absolute;
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid var(--white);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.login_inner .check input:checked ~ .indicator {
    background: var(--white);
}
.login_inner .check input:checked ~ .indicator::after {
    display: block;
    content: '';
    position: absolute;
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid var(--black);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.login_inner button {
    font-family: var(--primary-Hahmlet);
    border-radius: 5px;
    margin: 20px auto 10px auto;
    background-color: #363636;
    color: var(--white);
}
.login_inner button:hover {
    /* border: 1px solid var(--white); */
    color: var(--black);
    background-color: var(--white);
    font-weight: 600;
}

.login__btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0.8rem;
}
.login__btn a:hover {
    color: var(--black300);
}
.login__btn .findbtn {
    display: flex;
    flex-wrap: wrap;
    
}
.login__btn .findbtn a {
    margin-left: 10px;
    font-size: 0.8rem;
    position: relative;
}
.login__btn .findbtn a:hover {
    color: var(--black300);
}
.login__btn .findbtn a:first-child::before {
    content: '|';
    position: absolute;
    top: 0;
    right: -8px;
    font-weight: 1.1;
}
.login__btn .findbtn a:last-child::before {
    content: '|';
    position: absolute;
    top: 0;
    left: -8px;
    font-weight: 1.1;
}
