/* join__inner */
.join__inner {
    padding: 140px 60px 100px 60px;
    color: var(--white);
}
.join__inner2 {
    padding-top: 140px;
    display: block;
    margin: 0 auto;
    color: var(--white);
    background-image: url(../img/join_bg.jpg);
    background-position: 100% 100%;
    background-size: cover;
    height: 80vh;
    font-family: var(--primary-Hahmlet);
}

/* join__from */
.join__from {
    padding: 120px 20%;
    display: flex;
    flex-direction: column;
}
.join__from h3 {
    margin-bottom: 40px;
    font-size: 1.8rem;
}
.join__from h3 span {
    font-size: 1.7rem;
    color: var(--black400);
}

.join__from fieldset {
    width: 100%;
    height: 4rem;
}

.join__from label {
    display: inline-block;
    padding: 10px 0 5px 0;
}

.join__from input {
    padding: 20px;
    color: var(--white);
    width: 100%;
    height: 5vh;
    border: 1px solid var(--white);
    background: transparent;
}

.join__from .join_btn {
    font-family: var(--primary-Hahmlet);
    border-radius: 5px;
    margin: 60px auto;
}
.join__from .join_btn:hover {
    border: 1px solid var(--black);
    color: var(--white);
    background-color: var(--black200);
}

/* join__from2 */
.join__from2 {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.join__from2 h3 {
    margin-bottom: 40px;
    font-size: 1.8rem;
}
.join__from2 h3 span {
    font-size: 1.7rem;
    color: var(--black400);
}

.join__from2 fieldset {
    width: 100%;
    height: 4rem;
}

.join__from2 label {
    display: inline-block;
    padding: 10px 0 5px 0;
}

.join__from2 input {
    padding: 20px;
    color: var(--white);
    width: 100%;
    height: 5vh;
    border: 1px solid var(--white);
    background: transparent;
}
.join__from2 .join_btn {
    font-family: var(--primary-Hahmlet);
    border-radius: 5px;
    margin: 60px auto;
}
.join__from2 .join_btn:hover {
    border: 1px solid var(--black);
    color: var(--white);
    background-color: var(--black200);
}


.cancel__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5rem auto;
}
.cancel__btn button {
    margin: 10px;
}
.cancel__btn button:hover {
    /* border: 1px solid var(--black); */
    color: var(--white);
    background-color: var(--black200);
}



/* agree__box */
.agree__box .check {
    margin-top: 10px;
}
.agree__box .check label {
    position: relative;
    padding-left: 30px;
}
.agree__box .check label span {
    color: red;
}
.agree__box .check input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.agree__box .check .indicator {
    position: absolute;
    top: -1px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #fff;
    border: 1px solid var(--black);
    border-radius: 2px;
}
.agree__box .check .indicator::after {
    content: '';
    position: absolute;
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid var(--white);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.agree__box .check input:checked ~ .indicator {
    background: var(--white);
}
.agree__box .check input:checked ~ .indicator::after {
    display: block;
    content: '';
    position: absolute;
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid var(--black);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.agree__box .scroll {
    width: 100%;
    height: 200px;
    border: 1px solid var(--white);
    margin: 10px 0;
    padding: 10px;
    white-space: pre-line;
    overflow: auto;
    max-height: 200px;
}

/* agree__btn */
.agree__btn {
    margin-top: 30px;
    text-align: center;
}
.agree__btn .joindrop {
    margin-right: 10px;
}

/* join__agree__cancel */
.join__agree__cancel {
    margin: 0 auto;
}

/* agree__box scroll2 */
.agree__box .scroll2 {
    width: 100%;
    border: 1px solid var(--white);
    margin: 10px 0;
    padding: 10px;
    white-space: pre-line;
    overflow: auto;
    max-height: 300px;
    font-family: var(--primary-Hahmlet);
}
.agree__box .scroll2 span {
    font-size: 1rem;
    color: red;
}
.join__agree__cancel .agree__box h3 {
    font-family: var(--primary-Hahmlet);
    font-weight: bold;
    font-size: 1.7rem;
    margin-bottom: 40px;
}
.join__agree__cancel .agree__box > span {
    font-size: 0.9rem;
    color: var(--black500);

}