/* body {
    background-color: var(--black);
    width: 100vw;
}
main {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;

} */
/* parallax_cont */
#parallax_cont {
    overflow: hidden;
}
.parallax_item {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.parallax_item_num {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 5vw;
    line-height: 1;
}
.parallax_item_img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    background-size: 100% 100%; 
    background-position: center;
}
.parallax_item_img::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
#section1 .parallax_item_img {
    background-image: url("../img/intro_img5.jpg");
}
#section2 .parallax_item_img {
    background-image: url("../img/intro_img4.jpg");
}
#section3 .parallax_item_img {
    background-image: url("../img/intro_img3.jpg");
}
#section4 .parallax_item_img {
    background-image: url("../img/intro_img2.jpg");
}
#section5 .parallax_item_img {
    background-image: url("../img/intro_img1.jpg");
}
.parallax_item_title {
    font-size: 3vw;
    z-index: 100;
    text-transform: uppercase;
    display: inline-block;
}
.parallax_item_desc {
    font-size: 1.5vw;
    line-height: 1.3;
    /* margin-top: 47vw;
    margin-left: -8vw; */
    z-index: 100;
    position: relative;
    word-break: keep-all;
}