<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>세계의 미술작품</title>

    <!-- css -->
    <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
    <div id="wrap">
        <header id="header">
            <div class="container">
                <h1 class="logo">
                    <a href="#">세계의 미술작품</a>
                </h1>
                <nav class="nav">
                    <ul>
                        <li><a href="#">소장처별</a>
                            <ul class="submenu">
                                <li><a href="#">한국</a></li>
                                <li><a href="#">프랑스</a></li>
                                <li><a href="#">이탈리아</a></li>
                                <li><a href="#">독일</a></li>
                            </ul>
                        </li>
                        <li><a href="#">장르별</a>
                            <ul class="submenu">
                                <li><a href="#">회화</a></li>
                                <li><a href="#">판화</a></li>
                                <li><a href="#">공예/고대유물</a></li>
                                <li><a href="#">그 외</a></li>
                            </ul>
                        </li>
                        <li><a href="#">테마별</a>
                            <ul class="submenu">
                                <li><a href="#">초상화/인물</a></li>
                                <li><a href="#">종교</a></li>
                                <li><a href="#">신화/문학</a></li>
                                <li><a href="#">일상/스포츠</a></li>
                            </ul>
                        </li>
                        <li><a href="#">시대별</a>
                            <ul class="submenu">
                                <li><a href="#">1900년 이전</a></li>
                                <li><a href="#">1900년대</a></li>
                                <li><a href="#">현대</a></li>
                                <li><a href="#">그 외</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- //header -->

        <article id="slider">
            <div class="container">
                <div class="sliderWrap">
                    <div class="slider s1">
                        <a href="#">
                            <img src="images/slider01.png" alt="미술1">
                        </a>
                        <div class="text">
                            <h2>과거의 세계 미술 작품</h2>
                        </div>
                    </div>
                    <div class="slider s2">
                        <a href="#">
                            <img src="images/slider02.png" alt="미술2">
                        </a>
                        <div class="text">
                            <h2>현재의 세계 미술 작품</h2>
                        </div>
                    </div>
                    <div class="slider s3">
                        <a href="#">
                            <img src="images/slider03.png" alt="미술3">
                        </a>
                        <div class="text">
                            <h2>미래의 세계 미술 작품</h2>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <!-- //slider -->

        <main id="contents">
            <div class="container">
                <section class="notice">
                    <h3>새로운 소식</h3>
                    <ul>
                        <li class="popup-btn"><a href="#">새로운 문화유산 표준관리시스템 안내</a><span>2023.10.27</span></li>
                        <li><a href="#">2023년 자원봉사 공고 공지</a><span>2023.10.24</span></li>
                        <li><a href="#">정긴간행물 구독 안내</a><span>2023.10.25</span></li>
                    </ul>
                </section>
                <!-- //notice -->

                <section class="gallery">
                    <h3>세계 미술작품 한눈에 보기</h3>
                    <ul>
                        <li><a href="#"><img src="images/gallery01.png" alt="미술1"></a></li>
                        <li><a href="#"><img src="images/gallery02.png" alt="미술2"></a></li>
                        <li><a href="#"><img src="images/gallery03.png" alt="미술3"></a></li>
                    </ul>
                </section>
                <!-- //notice -->

                <section class="banner">
                    <h3>견학 신청 안내</h3>
                    <a href="#">바로가기</a>
                </section>
                <!-- //banner -->
            </div>
        </main>
        <!-- //contents -->

        <footer id="footer">
            <div class="container">
                <div class="footerLogo">
                    세계의 미술작품
                </div>
                <div class="footerCopy">
                    <ul>
                        <li><a href="#">개인정보처리방침</a></li>
                        <li><a href="#">정보공개</a></li>
                        <li><a href="#">홈페이지 운영지침</a></li>
                    </ul>
                </div>
                <div class="footerSNS">
                    <ul>
                        <li><a href="#">카카오</a></li>
                        <li><a href="#">인스타</a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <!-- //footer -->
        
        <div class="popup-view">
            <h3>새로운 문화유산 표준관리시스템 안내</h3>
            <p>
                새로운 문화유산 표준관리시스템 안내가<br>
                새롭게 변경되었으니<br>
                변경사항을 확인바랍니다.<br>
            </p>
            <a href="#" class="popup-close">닫기</a>
        </div>
        <!-- //popup -->
    </div>
    <!-- //wrap -->
</body>
  <!-- script -->
  <script src="script/jquery.min.js"></script>
  <script src="script/script.js"></script>

</html>