<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>세계의 미술작품</title>
    
    <!-- css -->
    <link rel="stylesheet" href="css/02style.css">

</head>
<body>
    <div id="wrap">
        <header id="header">
            <div class="container">
                <h1 class="logo">로고</h1>
                <nav class="nav">
                    <ul>
                        <li><a href="#">소장처별</a>
                            <ul class="submenu">
                                <li><a href="#">한국</a></li>
                                <li><a href="#">프랑스</a></li>
                                <li><a href="#">이탈리아</a></li>
                                <li><a href="#">독일</a></li>
                            </ul>
                        </li>
                        <li><a href="#">장르별</a>
                            <ul>
                                <li><a href="#">회화</a></li>
                                <li><a href="#">판화</a></li>
                                <li><a href="#">공예/고대유물</a></li>
                                <li><a href="#">그 외</a></li>
                            </ul>
                        </li>
                        <li><a href="#">테마별</a></li>
                        <li><a href="#">시대별</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- //header -->

        <div id="slider">
            <div class="container">
                <div class="sliderWrap">

                </div>
            </div>
        </div>
        <!-- //slider -->

        <main id="contents">
            <div class="container">
                <div class="notice"></div>
                <!-- //notice -->

                <div class="gallery"></div>
                <!-- //gallery -->

                <div class="banner"></div>
                <!-- //banner -->
            </div>
        </main>

        <footer id="footer">
            <div class="container">
                <div class="footerLogo"></div>
                <div class="footerCL"></div>
                <div class="footerSNS"></div>
            </div>
        </footer>
    </div>
</body>
</html>