body {
    background-image: url(/project/img/BG.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.quiz {
    position: relative
}
.quizBG {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}
.quiz__header {
    position: absolute;
	text-align: center;
	position: absolute;
	top: 30%;
	left: 30%;
}

.quiz__choice {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 600px;
}

.quiz__choice label {
    width: 48%;
    margin: 0;
}