* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "NexonLv1Gothic";
}
a {
    color: #fff;
    text-decoration: none;
}
li {
    list-style: none;
}
body {
    width: 100%;
    height: 100vh;
}
body.img01 {
    background: #000 url(../img/images01.jpg) no-repeat center / cover;
}
body.img02 {
    background: #000 url(../img/images02.jpg) no-repeat center / cover;
}
body.img03 {
    background: #000 url(../img/images03.jpg) no-repeat center / cover;
}
body.img04 {
    background: #000 url(../img/images04.jpg) no-repeat center / cover;
}
body.img05 {
    background: #000 url(../img/images05.jpg) no-repeat center / cover;
}
body.img06 {
    background: #000 url(../img/images06.jpg) no-repeat center / cover;
}
body.img07 {
    background: #000 url(../img/images07.jpg) no-repeat center / cover;
}
body.img08 {
    background: #000 url(../img/images08.jpg) no-repeat center / cover;
}
body.img09 {
    background: #000 url(../img/images09.jpg) no-repeat center / cover;
}
body.img10 {
    background: #000 url(../img/images09.jpg) no-repeat center / cover;
}
body::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(23, 20, 88, 0.486);
    z-index: -1;
}
img {
    width: 100%;
    height: 100%;
    vertical-align: top; 
}
a {
    color: #fff;
    text-decoration: none;
}

/* scroll */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: #1f224a26;
}
::-webkit-scrollbar-thumb {
    background: rgba(69, 71, 100, 0.321);
    border-radius: 20px;
}

/* header */
#header {
    position: absolute;
    left: 0; 
    top: 0;
    color: #fff;
    padding: 20px;
    z-index: 10000;
}
#header h1 {
    display: inline-block;
    font-weight: 300;
    margin-bottom: 10px;
    border-bottom: 1px dashed #fff;
}
#header p {
    margin-bottom: 10px;
}
#header li {
    display: inline-block;
}
#header li a {
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
}
#header li.active a {
    background-color: #fff;
    color: #33377d;
}
