main {
    background-color: var(--white);
    color: var(--black);
}

a {
    display: block;
}

.intro__img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 200px;
    margin: 70px 0 30px 0;
    filter: brightness(0.6);
}

.categorieWrap {
    width: 100%;
    margin-bottom: px;
    display: flex;
    flex-direction: column;
}

.ca__inner1 .title {
    color: #D06958;
    font-size: 2.5rem;
}


.title {
    font-size: 2.5rem;
}

.ca__imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.ca__imgs .imgcontainer {
    width: 265px;
    height: 269px;
    margin: 30px 5px;
    cursor: pointer;
    opacity: 0.7;
    filter: blur(1.1px);
    transition: all 0.4s ease;
    box-shadow: 0 0 0 2px var(--white);

    position: relative;
}

.ca__imgs .imgcontainer img {
    display: block;
    width: 265px;
    height: 269px;
}

.ca__imgs .imgcontainer .text {
    display: none;
    font-weight: 800;
    color: var(--black);
    background-color: #ffffff79;
    padding: 10px 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text .t1 {
    font-family: var(--hahm);
}

.text .t2 {
    color: var(--black200);
}

.ca__imgs .imgcontainer:hover .text {
    display: block;
}

.ca__imgs .imgcontainer:hover {
    opacity: 1;
    filter: blur(0px);
    box-shadow: 0 0 0 2px var(--white);
}