#footer {
    display: block !important;
    /* 꼭 필요합니다.안그러면 구조가 깨져요!! */
}

main {
    background-color: var(--white);
    color: var(--black);
}

a {
    display: block;
}

/* desc1 */
.desc1 {
    background-image: url(../img/aaa.jpg);
    background-size: cover;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 540px;
    margin-bottom: 100px;
}

.poster {
    display: flex;
    flex-direction: column;
}

.ts {
    color: var(--white);
}

.like-button {
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: transparent;
    border: 2px solid var(--white);
    border-radius: 20px;
    color: var(--white);
    cursor: pointer;
    font-size: 16px;

}

.desc1 img {
    width: 258px;
    height: 344px;
}

.mu__container {
    display: flex;
    padding: 100px;
    justify-content: space-around
}

.d1t1 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 2.25rem;
    font-family: var(--mapo);
    font-size: 40px;
    font-weight: bold;
    word-break: keep-all;
}

.d1t2 {
    margin-bottom: 30px;
    font-size: 1.5rem;
    line-height: 1.9;
    word-break: keep-all;
}

@media (max-width: 950px) {
    .ts {
        max-height: 20vh;
        margin-left: 25px;
        margin-top: 20px;
    }

    .d1t1 {
        font-size: 20px;
    }

    .d1t2 {
        font-size: 16px;
    }
}

/* star_rating */
.rating {
    z-index: 10;
    margin-top: 80px;
    position: relative;
    width: 210px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
    padding: 5px;
    /* overflow: hidden; */
    border-radius: 20px;
    box-shadow: 0 0 2px var(--white);
    padding-left: 55px;
}

.rating__result {
    position: absolute;
    top: 8px;
    left: 10px;
    transform: translateY(-10px) translateX(2px);
    z-index: 10000;
    font: 2em Arial, Helvetica, sans-serif;
    color: #ffffffad;
    pointer-events: none;
}

.rating__star {
    font-size: 1.3em;
    cursor: pointer;
    color: yellow;
    transition: filter linear .3s;
}

.rating__star:hover {
    filter: drop-shadow(1px 1px 4px gold);
}


/* desc2 */
.title {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 30px;
    color: var(--black);
    font-family: var(--hahm);
    font-size: 2rem;
}

.title span {
    font-size: 1.5rem;
}

.desc2Wrap {
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 100px;
    border: 3px solid var(--black);
    border-radius: 20px;
    background-color: var(--white);
    color: var(--black);
    padding: 30px;
    text-align: left;
    min-height: 80vh;

}

.d2t1 {
    font-size: 1.5rem;
    font-family: var(--hahm);
    border-bottom: 1px solid var(--black);
}

.line1 {
    width: 110px;

    border-bottom: 3px solid var(--black);
}

.d2t2 {
    font-size: 1.5rem;
    font-family: var(--hahm);
    border-bottom: 1px solid var(--black);
    margin-top: 30px;
}

.line2 {
    width: 110px;
    border-bottom: 3px solid var(--black);

}

.imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* 각 열을 좌우로 분산 정렬 */
}

.img {
    margin: 35px 20px;
    width: 150px;
    height: 150px;
}

.imgs:last-child {
    margin-bottom: 100px;
}

.img a {
    display: block;
    /* 링크를 블록 레벨 요소로 만들어 이미지가 링크 영역을 가득 채울 수 있게 함 */
}

.castingText {
    text-align: center;
    line-height: 1.8;
}

.muimg {
    width: 90%;
}

/* info */
.infoimg {
    margin: 20px;
    display: flex;
    justify-content: space-around;
}