#footer {
    display: block !important;
    /* 꼭 필요합니다.안그러면 구조가 깨져요!! */
}

#mu_de {
    background-color: var(--white);
    color: var(--black);
}

a {
    display: block;
}

/* desc1 */
.desc1 {
    display: flex;
    background-image: url(../img/aaa.jpg);
    background-position: center center;
    background-size: cover;
    margin: 1.2rem 0;
    box-sizing: border-box;
    height: 33.75rem;
}

.poster {
    display: flex;
    flex-direction: column;
    width: 49%;
}

.ts {
    width: 49%;
    color: var(--white);
}

.like-button {
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: transparent;
    border: 2px solid var(--white);
    border-radius: 20px;
    color: var(--white);
    cursor: pointer;
    font-size: 16px;

}

.desc1 img {
    width: 258px;
    height: 344px;
}

.mu__container {
    max-width: 1260px;
    width: 96%;
    margin: 70px auto 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d1t1 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 2.25rem;
    font-family: var(--mapo);
    font-size: 40px;
    font-weight: bold;
    word-break: keep-all;
}

.d1t2 {
    margin-bottom: 30px;
    font-size: 1.5rem;
    line-height: 1.9;
    word-break: keep-all;
}

@media (max-width: 950px) {
    .ts {
        max-height: 20vh;
        margin-left: 25px;
        margin-top: 20px;
    }

    .d1t1 {
        font-size: 20px;
    }

    .d1t2 {
        font-size: 16px;
    }
}


/* desc2 */
.title {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 30px;
    color: var(--black);
    font-family: var(--hahm);
    font-size: 2rem;
}

.title span {
    font-size: 1.5rem;
}

.desc2Wrap {
    max-width: 1280px;
    margin: 0 auto;
    border: 3px solid var(--black);
    border-radius: 20px;
    background-color: var(--white);
    color: var(--black);
    padding: 30px;
    text-align: left;
    min-height: 80vh;
}

.d2t1 {
    font-size: 1.5rem;
    font-family: var(--hahm);
    border-bottom: 1px solid var(--black);
}

.line1 {
    width: 110px;

    border-bottom: 3px solid var(--black);
}

.d2t2 {
    font-size: 1.5rem;
    font-family: var(--hahm);
    border-bottom: 1px solid var(--black);
    margin-top: 30px;
}

.line2 {
    width: 110px;
    border-bottom: 3px solid var(--black);

}

.imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* 각 열을 좌우로 분산 정렬 */
}

.img {
    margin: 35px 20px;
    width: 150px;
    height: 150px;
}

.imgs:last-child {
    margin-bottom: 100px;
}

.img a {
    display: block;
    /* 링크를 블록 레벨 요소로 만들어 이미지가 링크 영역을 가득 채울 수 있게 함 */
}

.castingText {
    text-align: center;
    line-height: 1.8;
}

/* info */
.infoimg {
    margin: 20px;
}