#header {
    width: 100%;
    height: 70px;
    display: flex;
    background-color: var(--black);
    color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    /* border-bottom: 3px solid var(--black); */
}

#header .logo {
    padding: 0 40px;
    width: 20%;
    height: 70px;
    font-family: var(--primary-Oleo);
    font-size: 2.8rem;

}

#header .logo a {
    display: inline-block;
}

#header .category {
    font-family: var(--primary-Hahmlet);
    font-weight: 400;
    width: 80%;
    height: 70px;
}

#header .category ul {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    padding: 30px 100px 30px 30px;
}

#header .category ul li {
    padding: 15px 45px;
    display: flex;
    font-size: 1.15rem;
}
#header .category ul li a {
    display: flex;
}

/* #header .category ul li a img {
    font-size: 1.15rem;
} */



.navbar_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease;
}


/* ham */
.header_ham {
    width: 5%;
    height: 70px;
}

.navbar_burger {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar_burger_back {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
    color: #fff;
}

.navbar_menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: #0e0e0e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    z-index: 999;
    color: #000;
    transition: transform 0.3s ease;
}

.navbar_menu ul {
    width: 100%;
    height: 100%;
}

.navbar_menu li {
    width: 100%;
}

.navbar_menu li:first-child {
    width: 100%;
    margin-top: 70px;
}

.navbar_menu>ul>li:first-child>ul>li {
    width: 100%;
    height: 70px;
    margin-top: 0;
}

.navbar_menu li:nth-child(3) {
    width: 100%;
    margin-top: 70px;
}

.navbar_menu>ul>li:nth-child(3)>ul>li {
    width: 100%;
    height: 70px;
    margin-top: 0;
}

.navbar_menu a.m {
    width: 100%;
    text-align: center;
    position: relative;
    color: #ffffff;
    font-size: 1.2rem;
    transition: background-color 0.3s;
    font-family: var(--primary-Mapo);
    padding: 21px;
    display: block;
}

.navbar_menu a.m:hover {
    background-color: #2e1216;
}

.navbar_menu>ul>li:nth-child(3)>a {
    margin-top: 35vh;
}

.navbar_menu>ul>li:nth-child(5) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
}
.navbar_menu>ul>li:nth-child(5)>a {
    display: inline;
    font-size: 0.75rem;
    font-family: none;
    color: #696969;
    padding: 10px;
    width: auto;
}

.navbar_menu>ul>li:nth-child(5)>a:hover {
    color: var(--white);
    background: none;
}

.navbar_menu.active {
    transform: translateX(0);
}

.navbar_overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.submenu {
    display: none;
}
.submenu li a {
    background-color: #160A0C;
}
.submenu li a:hover {
    background-color: #622c34;
}



@media (max-width: 1000px) {
    #header .logo {
        padding: 0 20px;
        width: auto;
    }

    #header .category ul {
        padding: 30px 10px 30px 10px;
    }

    #header .category ul li {
        padding: 10px 20px;
        font-size: 1rem;
    }

    .navbar_menu {
        width: 40%;
    }

    .navbar_menu a.m {
        padding: 10px;
    }
}

@media (max-width: 600px) {
    #header .logo {
        padding: 10px 10px;
        width: auto;
        font-size: 2rem;
    }
    .navbar_menu {
        width: 50%;
    }
    #header .category ul li {
        padding: 0px 8px;
    }
}