<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>철길마을</title>

    <!-- css -->
    <link rel="stylesheet" href="css/style.css">

    <!-- script -->
    <script src="script/jquery.min.js"></script>
    <script src="script/script.js"></script>
</head>

<body>
    <div id="wrap">
        <main id="main">
            <header id="header">
                <h1 class="logo">
                    <a href="#">철길마을</a>
                </h1>
                <!-- logo -->


                <nav class="nav">
                    <ul>
                        <li><a href="#">철길마을</a>
                            <ul>
                                <li><a href="#">마을 소개</a></li>
                                <li><a href="#">마을의 유래</a></li>
                                <li><a href="#">볼거리</a></li>
                                <li><a href="#">찾아오시는 길</a></li>
                            </ul>
                        </li>
                        <li><a href="#">주변 맛집</a>
                            <ul>
                                <li><a href="#">빵집</a></li>
                                <li><a href="#">간장게장</a></li>
                                <li><a href="#">중국음식점</a></li>
                                <li><a href="#">빵횟집집</a></li>
                            </ul>
                        </li>
                        <li><a href="#">주변 여행지</a>
                            <ul>
                                <li><a href="#">은파호수공원</a></li>
                                <li><a href="#">초원사진관</a></li>
                                <li><a href="#">월명공원</a></li>
                                <li><a href="#">진포해양공원</a></li>
                            </ul>
                        </li>
                        <li><a href="#">도움마당</a>
                            <ul>
                                <li><a href="#">교통정보</a></li>
                                <li><a href="#">주변 주차장</a></li>
                                <li><a href="#">자료실</a></li>
                                <li><a href="#">자료마당</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- nav -->

            </header>
            <!-- //header -->



            <section id="contents">
                <article class="banner">
                    <h3>기차 여행</h3>
                    <a href="#">떠나기</a>
                </article>
                <!-- banner -->


                <article class="notice">
                    <h3>철길 마을 공지사항</h3>
                    <ul>
                        <li><a href="#">철길 마을 축제 일정 변경 안내</a><span>2023.03.04</span></li>
                        <li><a href="#">철길 마을 도서관 임시 폐쇄 안내</a><span>2023.05.04</span></li>
                        <li><a href="#">철길 마을 자원봉사자 모집 공고</a><span>2023.05.09</span></li>
                        <li><a href="#">철길 마을 청소 캠페인 안내</a><span>2023.05.13</span></li>
                        <li><a href="#">철길 마을의 최신 소식</a><span>2023.05.20</span></li>
                    </ul>
                    <a href="#" class="more">더보기</a>
                </article>
                <!-- notice -->


                <article class="gallery"></article>
                <article class="link"></article>
            </section>
            <!-- //contents  -->

            <article id="slider">

            </article>
            <!-- //slider -->



        </main>
        <!-- //main -->



        <footer id="footer">
            <div class="footer1"></div>
            <div class="footer2">
                <div class="footer2__1"></div>
                <div class="footer2__2"></div>
            </div>
            <div class="footer3"></div>

        </footer>

    </div>
    <!-- //wrap -->

</body>

</html>