<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>조이컨트리클럽</title>

    <!-- css -->
    <link rel="stylesheet" href="css/style.css">

    <!-- script -->
    <script src="script/jquery.min.js"></script>
    <script src="script/script.js"></script>
</head>

<body>
    <div id="wrap">
        <aside id="aside">
            <h1 class="logo">
                <a href="#">조이컨트리클럽</a>
            </h1>
            <nav class="nav">
                <ul>
                    <li><a href="#">CLUB</a>
                        <ul class="submenu">
                            <li><a href="#">클럽소개</a></li>
                            <li><a href="#">시설안내</a></li>
                        </ul>
                    </li>
                    <li><a href="#">BOOKING</a>
                        <ul class="submenu">
                            <li><a href="#">요금안내</a></li>
                            <li><a href="#">예약안내</a></li>
                            <li><a href="#">위약안내</a></li>
                        </ul>
                    </li>
                    <li><a href="#">INFORMATION</a>
                        <ul class="submenu">
                            <li><a href="#">명예의 전당</a></li>
                            <li><a href="#">이벤트</a></li>
                            <li><a href="#">자료실</a></li>
                            <li><a href="#">포토갤러리</a></li>
                        </ul>
                    </li>
                    <li><a href="#">COMMUNITY</a>
                        <ul class="submenu">
                            <li><a href="#">공지사항</a></li>
                            <li><a href="#">Q&A</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </aside>
        <!-- //aside -->

        <main id="main">
            <div id="slider">
                <article class="imageWrap">
                    <div class="image i1">
                        <div class="text">
                            <h2>조이컨트리클럽1</h2>
                            <p>1. 슬라이더 : 조이컨트리클럽1입니다</p>
                        </div>
                    </div>
                    <div class="image i2">
                        <div class="text">
                            <h2>조이컨트리클럽2</h2>
                            <p>2. 슬라이더 : 조이컨트리클럽2입니다</p>
                        </div>
                    </div>
                    <div class="image i3">
                        <div class="text">
                            <h2>조이컨트리클럽3</h2>
                            <p>3. 슬라이더 : 조이컨트리큽럽3입니다</p>
                        </div>
                    </div>
                </article>
                <!-- //imageWrap -->

                <article class="banner">
                    <h3>6월은 <em>여행가는 달</em></h3>
                    <a href="#">알아보기</a>
                </article>
                <!-- //banner -->
            </div>
            <div id="contents">
                <section class="notice">
                    <h3>공지사항</h3>
                    <ul>
                        <li class="popup-btn"><a href="#">공지사항1</a><span>2023.11.10</span></li>
                        <li><a href="#">공지사항2</a><span>2023.11.10</span></li>
                        <li><a href="#">공지사항3</a><span>2023.11.10</span></li>
                    </ul>
                </section>
                <section class="gallery">
                    <h3>갤러리</h3>
                    <ul>
                        <li>
                            <a href="#">
                                <!-- <img src="images/gallery01.jpg" alt="갤러리1"> -->
                                <span>갤러리1</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <!-- <img src="images/gallery02.jpg" alt="갤러리2"> -->
                                <span>갤러리2</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <!-- <img src="images/gallery03.jpg" alt="갤러리3"> -->
                                <span>갤러리3</span>
                            </a>
                        </li>
                    </ul>
                </section>
                <!-- //gallery -->
            </div>
        </main>

        <footer id="footer">
            <div class="footer1">
                <h4>조이컨트리클럽</h4>
            </div>
            <div class="footer2">
                조이컨트리클럭 footer부분입니다.<br>
                조이컨트리클럭 footer부분입니다.
            </div>
            <div class="footer3">
                <ul>
                    <li>1 : SNS</li>
                    <li>2 : SNS</li>
                </ul>
            </div>
        </footer>
        <!-- //footer -->

        <div class="popup-view">
            <h3>조이컨트리클럽 공지사항</h3>
            <p>
                조이컨트리클럽 공지사항입니다<br>
                조이컨트리클럽 공지사항입니다 조이컨트리클럽 공지사항입니다.
                조이컨트리클럽 공지사항입니다 조이컨트리클럽 공지사항입니다. 조이컨트리클럽 공지사항입니다.
            </p>
            <a href="#" class="popup-close">닫기</a>
        </div>
        <!-- //popup -->
    </div>
    <!-- //wrap -->
</body>

</html>