<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>해운대 빛축제</title>

    <!-- css -->
    <link rel="stylesheet" href="CSS/style.css">

    <!-- script -->
    <script src="script/jquery.min.js"></script>
    <script src="script/script.js"></script>
</head>
<body>
    <div id="wrap">
        <aside id="aside">
            <h1 class="logo">
                <a href="#">해운대 빛축제</a>
            </h1>
            <nav class="nav">
                <ul>
                    <li><a href="#">이용안내</a>
                        <ul class="submenu">
                            <li><a href="#">이용방법</a></li>
                            <li><a href="#">이용시간</a></li>
                            <li><a href="#">이용요금</a></li>
                        </ul>
                    </li>
                    <li><a href="#">이벤트정보</a>
                        <ul class="submenu">
                            <li><a href="#">현장이벤트</a></li>
                            <li><a href="#">온라인이벤트</a></li>
                            <li><a href="#">이벤트예약</a></li>
                        </ul>
                    </li>
                    <li><a href="#">프로그램</a>
                        <ul class="submenu">
                            <li><a href="#">프로그램안내</a></li>
                            <li><a href="#">온라인예약</a></li>
                            <li><a href="#">단체예약상담</a></li>
                        </ul>
                    </li>
                    <li><a href="#">고객센터</a>
                        <ul class="submenu">
                            <li><a href="#">공지사항</a></li>
                            <li><a href="#">자주묻는질문</a></li>
                            <li><a href="#">자료실</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </aside>
        <!-- //asdie -->

        <main id="main">
            <article id="slider">
                <div class="sliderWrap">
                    <div class="slider s1">
                        <a href="#"><img src="images/slider01.jpg" alt="해운대 빛축제01"></a>
                        <div class="text">
                            <h2>01.해운대 빛축제</h2>
                            <p>첫번째 신나는 축제</p>
                        </div>
                    </div>
                    <div class="slider s2">
                        <a href="#"><img src="images/slider02.jpg" alt="해운대 빛축제02"></a>
                        <div class="text">
                            <h2>02.해운대 빛축제</h2>
                            <p>두번째 신나는 축제</p>
                        </div>
                    </div>
                    <div class="slider s3">
                        <a href="#"><img src="images/slider03.jpg" alt="해운대 빛축제03"></a>
                        <div class="text">
                            <h2>03.해운대 빛축제</h2>
                            <p>세번째 신나는 축제</p>
                        </div>
                    </div>
                </div>
            </article>
            <!-- //slider -->

            <div id="contents">
                <article class="notice">
                    <h3>빛축제 공지사항</h3>
                    <ul>
                        <li class="popup-btn"><a href="#">주차장 안내</a></li>
                        <li><a href="#">행사장 지도 안내</a></li>
                        <li><a href="#">행사개요 안내</a></li>
                        <li><a href="#">행사일정(타임테이블) 안내</a></li>
                    </ul>
                </article>
                <!-- //notice -->

                <article class="gallery">
                    <h3>빛축제 갤러리</h3>
                    <ul>
                        <li><a href="#"><img src="images/gallery01.jpg" alt="해운대 빛축제01"></a></li>
                        <li><a href="#"><img src="images/gallery02.jpg" alt="해운대 빛축제02"></a></li>
                        <li><a href="#"><img src="images/gallery03.jpg" alt="해운대 빛축제03"></a></li>
                    </ul>
                </article>
                <!-- //gallery -->

                <article class="link">
                    <h3>빛축제 배너</h3>
                    <a href="#">참고영상</a>
                </article>
                <!-- //link -->
            </div>
            <!-- //contents -->

            <footer id="footer">
                <div class="footer1">
                    <h4>해운대 빛축제</h4>
                </div>
                <div class="footer2">
                    <div class="footer2-1">
                        <ul>
                            <li><a href="#">개인정보처리방침</a></li>
                            <li><a href="#">정보공개</a></li>
                            <li><a href="#">홈페이지 운영지침</a></li>
                        </ul>
                    </div>
                    <div class="footer2-2">
                        가나다라마바사아자차카타파하 해운대 COPYRIGHT(C) ALL RIGHTS RESERVED.
                    </div>
                </div>
               
            </footer>
            <!-- //footer -->
        </main>
        <!-- //main -->

        <article class="popup-view">
            <h3>해운대 빛축제 공지사항</h3>
            <p>
                우천시에도 축제 날짜는 변경되지 않습니다.  
                단, 안전을 위해 기상상황에 따른 현장 운영 요원들의 안내에 따라주시기 바라며,  
                악천후에는 임의로 축제가 중단될 수 있습니다.
                            </p>
            <a href="#" class="popup-close">닫기</a>
        </article>
        <!-- //popup  -->
    </div>
</body>
</html>