@font-face {
    font-family: 'NanumMyeongjo';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumMyeongjo/NanumMyeongjo.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumMyeongjo/NanumMyeongjo.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumMyeongjo/NanumMyeongjo.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumMyeongjo/NanumMyeongjo.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumMyeongjo/NanumMyeongjo.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumMyeongjo';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumMyeongjo/NanumMyeongjoBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumMyeongjo/NanumMyeongjoBold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumMyeongjo/NanumMyeongjoBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumMyeongjo/NanumMyeongjoBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumMyeongjo/NanumMyeongjoBold.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumMyeongjo';
    font-weight: 800;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumMyeongjo/NanumMyeongjoExtraBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/NanumMyeongjo/NanumMyeongjoExtraBold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumMyeongjo/NanumMyeongjoExtraBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumMyeongjo/NanumMyeongjoExtraBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/NanumMyeongjo/NanumMyeongjoExtraBold.ttf') format("truetype");
    font-display: swap;
} 
* {
    font-family: 'NanumMyeongjo';
}
h1 {
    font-size: 30px;
    line-height: 50px;
}
body {
    width: 100%;
    height: 100vh;
    background-image: url("../img/bgi.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 0;
    
}
#main {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    padding: 50px 0 0 0;
    background-color: rgba(66, 66, 66, 0.136);
    box-sizing: border-box;
}
.quiz__wrap1 {
    background-image: url("../img/bgi.jpg");
    color: #000000;
    text-align: center;
    width: 750px;
    height: 800px;
    margin: 0 auto;
    box-sizing: border-box;
    box-shadow: 1px 1px 0px #a2a2a2;
    background-color: rgba(66, 66, 66, 0.136);
    
}
.age__choice {
    width: 100%;
    height: 500px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 0 auto;
}
.age__choice h1 {
    font-size: 32px;
    padding-top: 30px;
}
.age__choice label {

}
.age__choice label span {
    width: 690px;
    position: relative;
    border: 1px solid #d9d9d9;
    background-color: #d9d9d9;
    box-shadow: 1px 1px 0px #a2a2a2;
    color: #4a4a4a;
    border-radius: 5px;
    padding: 15.5px;
    margin: 10px;
    display: flex;
    justify-content: center;
    font-size: 29px;
    font-weight: 400;
    line-height: 1.4;
    transition: all 0.3s;
    cursor: pointer;
}
.age__choice label input {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.age__choice label span:hover {
    color: rgb(67, 67, 67);
    background-color: #b6b6b6;
}
.age__choice label input:checked + span::before {
    box-shadow: inset 0 0 0 9px #9f9f9f;
}
.age__choice label input:checked + span {
    border-color: #9f9f9f;
    color: rgb(0, 0, 0);
    box-shadow: 1px 1px 0px #505050;
    background-color: #9f9f9f;
}
.name__input {
    width: 100%;
    height: 300px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.name__input input {
    width: 674px;
    height: 23px;
    line-height: 8px;
    transition: all 0.3s;
    border-radius: 10px;
    padding: 23px;
    text-align: center;
    background-color: #d9d9d9;
    color: #000000;
    font-size: 29px;
    cursor: pointer;
}
.name__input span {
    padding: 10px;
    line-height: 10px;
    color: #8a8a8a;
}
.name__input .btn {
    padding: 0;
    margin: 0;
    width: 97%;
    height: 75px;
    max-height: 100%;
    max-width: 100%;
    border: 1px solid #d9d9d9;
    background-color: #d9d9d9;
    box-shadow: 1px 1px 0px #a2a2a2;
    color: #4a4a4a;
    border-radius: 5px;
    font-size: 27px;
    cursor: pointer;
}
.name__input .btn:hover {
    color: #000000;
    background-color: #9f9f9f;
}
@media (max-width:800px) {
    .quiz__wrap1 {
        width: 90vw;
        height: 90vh;
    }
    h1 {
        font-size: 28px;
    }
    .age__choice label span {
        width: 70vw;
        font-size: 22px;
    }
    .name__input span {
        width: 67vw;
        font-size: 12px;
        align-items: center;
    }
    .name__input input {
        width: 67vw;
        font-size: 22px;
        align-items: center;
    }
    
    .name__input a {
        width: 75vw;
        font-size: 22px;
        align-items: center;
    }

    .name__input .btn {
        width: 77.5vw;
        align-items: center;
    }
}

/*------------------------------------------ 01~05 ----------------------------------------*/
#line__main {
    width: 100%;
    height: 100vh;
    padding: 50px 0 0 0;
    background-color: rgba(66, 66, 66, 0.136);
    box-sizing: border-box;
}
.quiz__wrap {
    height: 800px;
    max-width: 750px;
    max-height: 800px;
    background-image: url("../img/line_bgi.jpg");
    margin: 0 auto;
    box-sizing: border-box;
    box-shadow: 1px 1px 0px #a2a2a2;
    
}
.quiz__header {
    padding: 30px;
    width: 100%;
    height: 550px;
    box-sizing: border-box;
    position: relative;
    
}
.quiz__num {
    /* width: 150px;
    font-size: 20px;
    display: flex;
    justify-content: ;
    font-weight: 800;
    text-align: center; */
    height: 25px;
    display: flex;
    color: #4a4a4a; 
    font-size: 20px;
    font-weight: 800;
}
.this__level {
    width: 60px;
    text-align: center;
    border: 1px solid #837d7d60;
    background-color: #d9d9d9; 
    box-shadow: 1px 1px 1px 0.1px #5a5a5a;
    color: #8e2223;
}
.this__round {
    width: 60px;
    text-align: center;
    border: 1px solid #837d7d60;
    background-color: #d9d9d9; 
    box-shadow: 1px 1px 1px 0.1px #5a5a5a;
    margin-left: 10px;
    font-size: 19px;
}
.this__round em {
    font-style: normal;
    color: #000000;
}
.question .title {
    height: 130px;
}
.question .img {
    height: 395px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.question h1 {
    font-size: 27px;
    font-weight: 800;
}
.question h1 em {
    color: #8e2223;
    font-size: 30px;
    font-style: normal;
}
.quiz__choice {
    display: grid;
    grid-template-areas: 
    "choice1 choice2"
    "choice3 choice4";
    gap: 25px; /* 각 요소 사이의 간격 설정 */
    padding: 20px 20px 60px 20px; /* 선택사항: input 요소를 감싸는 배경의 안쪽 간격 설정 */
    height: 250px;
    box-sizing: border-box;
}
.quiz__choice label {
    width: 100%;
    display: flex;
    border: 1px solid #d9d9d9;
    background-color: #d9d9d9;
    box-shadow: 1px 1px 0px #a2a2a2;
    color: #4a4a4a;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-weight: 700;
    line-height: 1.4;
    transition: all 0.3s;
    cursor: pointer;
    padding: 18px 0 14px 0;
}
.quiz__choice label input {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.quiz__choice label:hover {
    color: rgb(67, 67, 67);
    background-color: #b6b6b6;
}
.quiz__choice label input:checked + span::before {
    box-shadow: inset 0 0 0 9px #9f9f9f;
}
.quiz__choice label input:checked + span {
    border-color: #9f9f9f;
    color: rgb(0, 0, 0);
    box-shadow: 1px 1px 0px #505050;
    background-color: #9f9f9f;
}


@media (max-width:800px) {
    .quiz__wrap {
        width: 90%;
        height: 90vh;
        background-image: url(../img/bgi.jpg);
    }
    .question h1 {
        font-size: 24px ;
        line-height: 40px;
        word-wrap: break-word;
    }
    .question label span {
        width: 70vw;
        font-size: 22px;
    }
    .question img {
        width: 60vw;
    }
    .quiz__choice label {
        font-size: 20px;
    }
}

@media (max-width:540px){
    .quiz__header {
        padding: 30px;
    }
    .quiz__header img {
        width: 80vw;
    }
    .quiz__header > h1 {
        font-size: 18px;
        line-height: 40px;
        word-wrap: break-word;
    }
    .quiz__choice {
        margin: 0 auto;
    }
    .quiz__choice label {
        font-size: 17px;
    }
}
