* {
    font-family: "NanumMyeongjo";
}
body {
    height: 100%;
    
    background-image: url(../img/bgi.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
}
#wrap {
    width: 800px;
    height: 900px;
    margin: 0px auto;
    background-image: url(../img/bg04.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* header start */
#header {
    width: 100%;
    height: 220px;
    padding-left: 65px;
    padding-top: 30px;
    position: relative;
}
.logo {    
    width: 161px;
    height: 70px;
    background-color: #000;
    color: #ccc;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 32px;
    font-weight: 800;
}
.test__name {
    font-size: 60px;
    color: #000;
    position: absolute;
    top: 100px;
    left: 70px;
}
.test__name img {
    width: 794px;
    height: 220px;
    position: absolute;
    top: -51px;
    left: -146px;
    z-index: -1;
}
.test__name span {
    letter-spacing: 6px;
}
.test__name em {
    color: #8e2223;
    font-weight: 800;
}

@media (max-width: 850px) {
    #wrap {
        width: 90vw;
        
    }
    #header {
        width: 90vw;
        position: relative;
    }
    .logo {
        width: 135px;
        height: 70px;
        font-size: 23px;
    }
    .test__name {
        position: absolute;
        width: 80vw;
        left: 50px;
        font-size: 40px;
        bottom: 10px;
    }
    .test__name img {
        width: 576px;
        height: 193px;
        top: -51px;
        left: -113px;
    }
}
@media (max-width: 460px) {
    #wrap {
        width: 100vw;
    }
    #header {
        width: 100%;
        position: relative;
    }
    .logo {
        width: 97px;
        height: 70px;
        font-size: 19px;
    }
    .test__name {
        position: absolute;
        width: 80vw;
        left: 50px;
        font-size: 30px;
        top: 150px;
    }
    .test__name img {
        width: 455px;
        height: 164px;
        top: -46px;
        left: -91px;
    }
}

/* end header */

/* main start */
#main {
    width: 100%;
    height: 680px;
    display: flex;
}
#left {
    width: 60%;
    position: relative;
}
.text__box {
    width: 270px;
    height: 60px;
    background-color: #d0d8e7;
    color: #878E98;
    font-size: 24px;
    margin-top: 70px;
    margin-left: 165px; 
    padding-top: 10px;
    padding-left: 20px;
    transform: rotate(-334.68deg);
}
.text__box::before {
    content: '';
    position: absolute;
    top: 99%; /* 꼬리를 말풍선 아래에 위치시킵니다. */
    left: 11%;
    border-top: 14px solid #d0d8e7;
    border-left: 8px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 0px solid transparent;
}
.spark {
    position: relative;
    width: 240px;
    height: 197px;
}
.spark img {
    position: absolute;
    width: 95%;
}
.spark span {
    position: absolute;
    top: 89px;
    left: 57px;
    font-size: 18px;
    font-weight: 800;
    font-family: "Malgun Gothic";
    color: #f0f0f0;
}
.finally {
    width: 190px;
}
.text {
    width: 320px;
    height: 60px;
    margin-left: 235px;
    transform: rotate(-6.5deg);
    position: absolute;
    top: 310px;
}
.text span {
   font-size: 36px;
   color: #878E98;
}
.joyful img {
    width: 116px;
    height: 160px;
    position: absolute;
    right: 10px;
    bottom: 0;
}
.start__btn {
    margin-left: 170px;
    margin-top:-165px;
}
.start__btn img {
    width: 200px;
    height: 65px;      
/* hover를 주려면 여기다가 주어야할것 같음 */
}
.start__btn a {
    position: relative;
}    
.start__btn a::before {
    content: "시작하기";
    position: absolute;
    left: 63px;
    top: 12px;
    font-size: 22px;
    font-weight: bold;
}
.start__btn a:hover {
    color: #C13A40;
}

/* LEFT END */
#right {
    width: 40%;
    position: relative;
}
.hand {
    width: 250px;
    position: absolute;
    top: 30px;
    right: 0;
}
.hand span {
    font-size: 20px;
    font-weight: 900;
    font-family: "Malgun Gothic";
    color: #1f1f1fde;
}
.ah__ha {
    position: absolute;
    bottom: 0;
}

@media (max-width: 850px) {
    #left {
        width: 40%;
    }
    .text__box,
    .spark,
    .finally,
    .joyful {
        display: none;
    }
    .text {
        margin-left: 100px;
        top: 175px;
    }
    .text span {
       font-size: 25px;
    }
    .start__btn {
        margin-left: 40px;
        margin-top: 400px;
    }
    .start__btn a::before {
        bottom: 0;
    }
    #right {
        width: 60%;
    }
    .hand {
        display: none;
    }
    .ah__ha {
        right: 0;
    }
    .ah__ha img {
        height: 100%;
    }

}
@media (max-width: 400px) {
    .text {
        margin-left: 50px;
        top: 175px;
    }
    .start__btn {
        margin-left: 10px;
        margin-top: 400px;
    }
}